@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    overflow: hidden;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    background: #f9fafb;
    color: #000000;
}

#react-target {
    width: 100%;
    height: 100%;
}